{% load url from future %}
{%load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{{ title }}</title>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/jquery.min.js"></script>
    {% block javascipt_block %}
    {% endblock javascipt_block %}
</head>
<body>
    {% block body %}
    {% endblock body %}
</body>
</html>