{% extends 'base.html' %}

{% block body %}
<form method="post" url='/finder/pdf/'>
    <label>
        <span>Url: </span>
        <input type="text" name="url">
    </label>
    <br>
    <label>
        <span>File type:</span>
        <select name="file_type">
            <option value='pdf'>pdf file</option>
            <option value="html">html</option>
            <option value="text">text</option>
        </select>
    </label>
    <br>
    <input type="submit" value="Send">
</form>
{% endblock body %}