{% extends 'base.html' %}

{% block javascipt_block %}
    <script type="text/javascript" src="{{ STATIC_URL }}/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/load_text.js"></script>
    <script type="text/javascript">
        Loader.load('{{ text_url }}')
    </script>
{% endblock javascipt_block %}

{% block body %}
<textarea rows="10" cols="80">{{ text }}</textarea>
{% endblock body %}